

.jigoku-title h1{
    margin-right: auto;
    margin-left: auto;
}

.jigoku-timer{
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.time-units{
    font-size: 20px;
    margin: 10px;
}

#day,#hour,#min,#sec,#msec{
    color: red;
    font-size:36px;
}

.xday-detail{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    color: red;
    font-size:36px;
}